* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding-top: 76px;
    background-color: #18191a;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: #242526;
    position: fixed;
    padding: 0 16px;
    z-index: 10;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 680px;
}

header nav div {
    display: flex;
    align-items: center;
}

nav>div {
    width: 340px;
}

header nav div label {
    height: 40px;
    width: 240px;
    display: flex;
    align-items: center;
    background-color: #3a3b3c;
    border-radius: 50px;
    padding-left: 12px;
    margin-left: 16px;
}

header nav div label svg {
    height: 100%;
    fill: #848689;
}

header nav div label input {
    height: 100%;
    width: 212px;
    border: none;
    background-color: #3a3b3c;
    border-radius: 50px;
    padding-left: 8px;
    outline: none;
    color: white;
}

header nav a svg path:last-child {
    fill: white;
}

header nav ul li {
    width: 110px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header nav ul li:first-child a svg path {
    fill: #2374e1;
}

aside {
    position: fixed;
}

.deux {
    right: 0;
    top: 76px;
    position: fixed;
}

section {
    display: block;
    width: 680px;
    margin: auto;
}

.aside-nav {
    padding-left: 16px;
    width: 360px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    transition: 0.4s;
    cursor: pointer;
    align-items: center;
}

.aside-nav span {
    color: white;
}

.aside-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.aside-nav a p {
    margin-left: 12px;
}

.aside-nav:hover {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.svg-plus {
    width: 36px;
    height: 36px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #303031;
    color: white;
}

.svg-plus svg g {
    stroke: white;
    fill: white;
}

.picture {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.group-vignette {
    width: 680px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.vignette {
    width: 19%;
    height: 230px;
    background-image: linear-gradient(0deg, #3e4042, transparent);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.bulle {
    position: absolute;
    top: 12px;
    left: 12px;
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
    outline: 4px solid #2e89ff;
}

.vignette::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, #3e4042, transparent);
}

.story svg {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 3px;
    background: #2e89ff;
    border-radius: 50%;
    fill: white;
    outline: #242526 4px solid;
    z-index: 6;
}

.story p {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background: #242526;
    height: 50px;
    z-index: 5;
    align-items: flex-end;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 14px;
}

.group-vignette span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: #3e4042;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;
}

.group-vignette span:hover {
    background-color: #525355;
}

.group-vignette span a svg {
    fill: white;
    stroke: white;
    height: 40px;
}

.group-vignette span a {
    height: 40px;
}

.vignette img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.text p {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 14px;
    padding: 10px;
}

header nav ul li:hover {
    background-color: #3a3b3c;
    border-radius: 5px;
}

header nav ul li svg path:last-child {
    fill: #848689;
}

header nav div div.btn-cercle {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3b3c;
    border-radius: 100%;
    margin-left: 8px;
    cursor: pointer;
}

header nav div div.btn-cercle:hover {
    background-color: #4e4e4e;
}

header nav div div.btn-cercle svg path:last-child,
circle {
    fill: white;
}

header nav div a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

header nav div a:hover {
    background-color: #4e4e4e;
}

header nav div a img {
    height: 28px;
    border-radius: 100%;
    margin-right: 6px;
}