* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding-top: 76px;
    background-color: #18191a;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: #242526;
    position: fixed;
    padding: 0 16px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav div {
    display: flex;
}

header nav div label {
    height: 40px;
    width: 240px;
    display: flex;
    align-items: center;
    background-color: #3a3b3c;
    border-radius: 50px;
    padding-left: 12px;
    margin-left: 16px;
}

header nav div label svg {
    height: 100%;
    fill: #848689;
}

header nav div label input {
    height: 100%;
    width: 212px;
    border: none;
    background-color: #3a3b3c;
    border-radius: 50px;
    padding-left: 8px;
}

header nav a svg path:last-child {
    fill: white;
}

header nav ul li {
    width: 110px;
    display: flex;
    justify-content: center;
}

.aside-nav {
    padding-left: 16px;
    width: 360px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    transition: 0.4s;
    cursor: pointer;
}

.aside-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.aside-nav a p {
    margin-left: 12px;
}

.aside-nav:hover {
    background-color: gray;
    border-radius: 5px;
}