* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding-top: 76px;
    background-color: #18191a;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    width: 100%;
    background-color: #242526;
    position: fixed;
    padding: 0 16px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 680px;
}

header nav div {
    display: flex;
    align-items: center;
}
header nav div:first-child{
    justify-content: flex-start;
}
header nav div:last-child{
    justify-content: flex-end;
}

nav>div {
    width: 340px;
}

header nav div label {
    height: 40px;
    width: 240px;
    display: flex;
    align-items: center;
    background-color: #3a3b3c;
    border-radius: 50px;
    padding-left: 12px;
    margin-left: 16px;
}

header nav div label svg {
    height: 100%;
    fill: #848689;
}

header nav div label input {
    height: 100%;
    width: 212px;
    border: none;
    background-color: #3a3b3c;
    border-radius: 50px;
    padding-left: 8px;
    outline: none;
    color: white;
}

header nav a svg path:last-child {
    fill: white;
}

header nav ul li {
    width: 110px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header nav ul li:first-child a svg path {
    fill: #2374e1;
}

aside {
    position: fixed;
}

.deux {
    right: 0;
    top: 76px;
    position: fixed;
}

section {
    display: block;
    width: 680px;
    margin: auto;
}

.aside-nav {
    width: 360px;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    transition: 0.4s;
    cursor: pointer;
    align-items: center;
}

.aside-nav span {
    color: white;
}

.aside-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-left: 16px;
}

.aside-nav a p {
    margin-left: 12px;
}

.aside-nav:hover {
    background-color: rgb(56, 56, 56);
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.svg-plus {
    width: 36px;
    height: 36px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #303031;
    color: white;
}

.svg-plus svg g {
    stroke: white;
    fill: white;
}

.picture {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

header nav ul li:hover {
    background-color: #3a3b3c;
    border-radius: 5px;
}

header nav ul li svg path:last-child {
    fill: #848689;
}

header nav div div.btn-cercle {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a3b3c;
    border-radius: 100%;
    margin-left: 8px;
    cursor: pointer;
}

header nav div div.btn-cercle:hover {
    background-color: #4e4e4e;
}

header nav div div.btn-cercle svg path:last-child,
circle {
    fill: white;
}

header nav div a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

header nav div a:hover {
    background-color: #4e4e4e;
}

header nav div a img {
    height: 28px;
    border-radius: 100%;
    margin-right: 6px;
}

aside.deux > div{
    padding: 0 16px;
}
aside.deux > div > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-left: 16px;
}
aside.deux > div div span{
    font-weight: 600;
    font-size: 1.06rem;
    color: #b0b3b8;
}
aside.deux > div div div{
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: space-around;
}
aside.deux > div div div div svg path{
    fill: #b0b3b8;
}
aside.deux > div div div div{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 100%;
}
aside.deux > div div div div:hover{
    background-color: rgb(56, 56, 56);
}